{
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4,
        "printWidth": 160
      }
    }
  ]
}
